<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"></script>
<link href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" rel="stylesheet"/>

<div class="container-fluid h-100">
    <div class="row h-100">
        <div id="menu" class="col-3 h-100 shadow-lg bg-light">
            <form id="search-container" class="mt-3" onsubmit="searchFunc(event)" autocomplete="off">
                <h4 class="me-3">IBB API</h4>
                <input id="search" type="search" class="form-control" placeholder="Hat no giriniz..." />
            </form>
                
            <div class="mt-4">
                <h5>Ayarlar</h5>
                <div class="mb-3">
                    <label class="form-label">Varsayılan Harita Yakınlığı</label>
                    <input type="number" class="form-control" id="setDefaultZoom" value="14">
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="refreshLocationsCheck" checked>
                  <label class="form-check-label" for="refreshLocationsCheck">
                    Konumları yenile
                  </label>
                </div>
            </div>
        </div>
        <div id="map-content" class="col-9 h-100 p-0">
            <div id="map"></div>
        </div>
    </div>
</div>

<div id="loader"></div>

<button 
        onclick="findLocation()" 
        id="findLocationBtn"
        class="border-0 shadow bg-light p-1" 
        style="font-size: 1.5rem; border-radius: 4px; position: absolute; right: 10px; top: 10px; z-index: 1000;"
        >
    <i class="bi bi-geo-alt"></i>
</button>

<div 
     id="bottomMenu"
     class="fixed-bottom bg-light p-2 shadow" 
     style="align-items: center; align-content: center; justify-content: space-around; display: none;">
    <button 
            class="btn">
        <i 
            class="bi bi-gear" 
            style="font-size: 1.4rem"
            onclick="bottomMenu()"
        ></i>
    </button>
    <button 
            class="btn">
        <i 
            class="bi bi-map" 
            style="font-size: 1.4rem" 
            onclick="bottomMenu()"
        ></i>
    </button>
</div>